# <span style="color:#336699">CAP394 - Introduction to Data Science [<img src="./img/logo.png" alt="CAP394 - Introduction to Data Science" style="height: 35px;" align="right">](http://www.lac.inpe.br/~rafael.santos/cap394.html)</span>
<hr style="border:2px solid #0077b9;">

# <span style="color:#336699">Pandas</span>


[<img src="https://pandas.pydata.org/_static/pandas_logo.png" alt="Pandas" style="height: 75px;" align="right">](https://pandas.pydata.org/)

Professores:
- Rafael Santos
- Gilberto Ribeiro de Queiroz

Colaboradores:
- Rolf Simões
- Vitor Gomes

# Introdução
<hr style="border:1px solid #0077b9;">

O Pandas fornece duas estruturas de dados básicas: `Series` e `DataFrame`. Para estas estruturas, existem diversas operações de alto nível disponíveis, tais como: agregação de valores e visualização básica através da matplotlib.

Um objeto do tipo `Series` representa um vetor (ou array unidimensional) capaz de armazenar qualquer tipo de dado, como números inteiros, strings ou objetos como data e hora. Possui um eixo (*axis*) usado para rotular cada valor do vetor. Esses rótulos funcionam como um índice para os valores da série.

<table>
  <caption style="font-size: 20px;text-align: center">Series</caption>
  <tbody>
    <tr>
      <td style="font-weight: bold;text-align: center"></td>
      <td style="font-weight: bold;text-align: center">municipio</td>    
    </tr>
    <tr>
      <td style="text-align: center">0</td>
      <td style="text-align: left">Sítio Novo Do Tocantins</td>
    </tr>
    <tr>
      <td style="text-align: center">1</td>
      <td style="text-align: left">Ouro Preto</td>
    </tr>
    <tr>
      <td style="text-align: center">2</td>
      <td style="text-align: left">Mariana</td>
    </tr>
    <tr>
      <td style="text-align: center">3</td>
      <td style="text-align: left">Araxá</td>
    </tr>
    <tr>
      <td style="text-align: center">4</td>
      <td style="text-align: left">Belo Horizonte</td>
    </tr>
  </tbody>
</table>

Um objeto do tipo `DataFrame` representa um tabela bidimensional com os eixos rotulados (linhas e colunas).

<table>
  <caption style="font-size: 20px;text-align: center">DataFrame</caption>
  <tbody>
    <tr>
      <td style="font-weight: bold;text-align: center"></td>
      <td style="font-weight: bold;text-align: center">municipio</td>    
      <td style="font-weight: bold;text-align: center">estado</td>
      <td style="font-weight: bold;text-align: center">regiao</td>
      <td style="font-weight: bold;text-align: center">pais</td>
      <td style="font-weight: bold;text-align: center">satelite</td>
      <td style="font-weight: bold;text-align: center">bioma</td>
      <td style="font-weight: bold;text-align: center">timestamp</td>
      <td style="font-weight: bold;text-align: center">satelite_r</td>
    </tr>
    <tr>
      <td style="text-align: center">0</td>
      <td style="text-align: center">Sítio Novo Do Tocantins</td>
      <td style="text-align: center">Tocantins</td>
      <td style="text-align: center">N</td>
      <td style="text-align: center">Brazil</td>
      <td style="text-align: center">NPP_375</td>
      <td style="text-align: center">Cerrado</td>
      <td style="text-align: center">2016/02/12 17:05:45</td>
      <td style="text-align: center">f</td>
    </tr>
    <tr>
      <td style="text-align: center">1</td>
      <td style="text-align: center">Sítio Novo Do Tocantins</td>
      <td style="text-align: center">Tocantins</td>
      <td style="text-align: center">N</td>
      <td style="text-align: center">Brazil</td>
      <td style="text-align: center">NPP_375</td>
      <td style="text-align: center">Cerrado</td>
      <td style="text-align: center">2016/07/17 04:00:00</td>
      <td style="text-align: center">f</td>
    </tr>
    <tr>
      <td style="text-align: center">2</td>
      <td style="text-align: center">Sítio Novo Do Tocantins</td>
      <td style="text-align: center">Tocantins</td>
      <td style="text-align: center">N</td>
      <td style="text-align: center">Brazil</td>
      <td style="text-align: center">AQUA_M-T</td>
      <td style="text-align: center">Cerrado</td>
      <td style="text-align: center">2016/01/15 16:40:14</td>
      <td style="text-align: center">t</td>
    </tr>
    <tr>
      <td style="text-align: center">3</td>
      <td style="text-align: center">Sítio Novo Do Tocantins</td>
      <td style="text-align: center">Tocantins</td>
      <td style="text-align: center">N</td>
      <td style="text-align: center">Brazil</td>
      <td style="text-align: center">NPP_375</td>
      <td style="text-align: center">Cerrado</td>
      <td style="text-align: center">2016/07/17 04:00:00</td>
      <td style="text-align: center">f</td>
    </tr>
    <tr>
      <td style="text-align: center">4</td>
      <td style="text-align: center">Sítio Novo Do Tocantins</td>
      <td style="text-align: center">Tocantins</td>
      <td style="text-align: center">N</td>
      <td style="text-align: center">Brazil</td>
      <td style="text-align: center">NPP_375</td>
      <td style="text-align: center">Cerrado</td>
      <td style="text-align: center">2016/02/12 17:05:45</td>
      <td style="text-align: center">f</td>
    </tr>
  </tbody>
</table>

# 2. Usando Pandas
<hr style="border:1px solid #0077b9;">

Por convenção importamos as funcionalidades do Pandas da seguinte forma:

In [ ]:
import pandas as pd

Para abrir um arquivo CSV basta utilizar a função `read_csv`:

In [ ]:
patterns = pd.read_csv("dados/defpatterns.missing.csv")

Podemos apresentar as primeiras linhas do `DataFrame` através do método `head`:

In [ ]:
patterns.head()

In [ ]:
patterns.head(8)

Podemos extrair uma coluna utilizando o operador `[]`:

In [ ]:
patterns["padrao"]

Repare que o tipo de objeto retornado é uma série:

In [ ]:
type(patterns["padrao"])

Se utilizarmos dois colchetes o objeto retornado continua sendo um `DataFrame`:

In [ ]:
patterns[ ["padrao"] ]

In [ ]:
type( patterns[ ["padrao"] ] )

Para selecionar duas ou mais colunas podemos utilizar uma lista:

In [ ]:
patterns[ ["deci_class", "padrao"] ]

Podemos descobrir os tipos de dados das colunas do `DataFrame` através do atributo `dtypes`:

In [ ]:
patterns.dtypes

O Pandas organiza as colunas internamente como arrays NumPy. Podemos acessar esse array através da propriedade `values`:

In [ ]:
patterns["padrao"].values

Para recuperar as primeiras 10 linhas do `DataFrame`:

In [ ]:
patterns[:10]

In [ ]:
patterns[:10]["padrao"]

Podemos selecionar um subconjunto das colunas e linhas de um `DataFrame`:

In [ ]:
patterns[ ["deci_class", "padrao"] ][:5]

Para obter um resumo do `DataFrame`:

In [ ]:
patterns.describe()

**Q1.** Quantos valores diferentes existem para a coluna `padrao`?

In [ ]:
patterns["padrao"].nunique()

Ou:

In [ ]:
patterns["padrao"].unique()

In [ ]:
len( patterns["padrao"].unique() )

Podemos também criar grupos de linhas:

In [ ]:
grupo_linhas = patterns.groupby(by="padrao")

In [ ]:
grupo_linhas["padrao"].count()

Para saber a contagem de cada grupo dentro de uma coluna podemos usar `value_counts`:

In [ ]:
patterns["padrao"].value_counts()

**Q2.** Apresentar um gráfico de barras com a contagem de cada padrão:

In [ ]:
import matplotlib.pyplot as plt

contagem = grupo_linhas["padrao"].count()

contagem.plot(kind='bar');

**Q3.** Qual é o valor mínimo para um dada coluna? Vamos tomar a coluna `c_PSMetric` como exemplo:

In [ ]:
patterns["c_PSMetric"].min()

**Q4.** Qual o valor minímo para uma dada coluna desconsiderando o valor zero?

In [ ]:
patterns[ patterns.c_PSMetric != 0 ]["c_PSMetric"].min()

**Q5.** Quantos valores estão faltando em cada coluna?

Os métodos `isnull()` e `notnull()` das estruturas de dados do Pandas possibilitam detectar a ocorrência de valores nulos. Essas duas operações retornam uma máscara booleana:

In [ ]:
patterns.isnull()

In [ ]:
patterns.isnull().sum()

Outra forma de obter o número de linhas com `NaN` seria:

In [ ]:
len(patterns) - patterns.count()

Ou:

In [ ]:
len(patterns.index) - patterns.count()

**Q6.** Quais as linhas que possuem `NaN` na coluna `c_EDMetric`:

In [ ]:
patterns[ patterns["c_EDMetric"].isnull() ]

**Q7.** Quantas observações estão completas, isto é, não estão faltando valores?

In [ ]:
df = patterns.copy()

In [ ]:
df.dropna(axis=1).columns

**Q8.** Quantas observações completas existem para cada valor de “padrao”?

In [ ]:
df = patterns.dropna(axis=0)
df["padrao"].value_counts()

**Q9.** Adicionar uma nova coluna:

In [ ]:
patterns["idx"] = patterns["Lin"] + patterns["Col"]

In [ ]:
patterns[:50][ ["Col", "Lin", "idx"] ]

**Q10.** Copiar um `DataFrame`:

In [ ]:
df = patterns.copy()

# Referências Online
<hr style="border:1px solid #0077b9;">

* [Pandas API Reference](https://pandas.pydata.org/pandas-docs/stable/api.html#dataframe)